{% extends 'base.html.twig' %}

{% block title %}CritX > About{% endblock %}

{% block body %}

<div class="footInfosContainer">
    <div class="footInfos" id="aboutInfos">
        <h1>About CritX</h1>
        <h2>(FAQs)</h2>

        <section>
            <h3>- What’s a "Critic score ?"</h3>
            
            <p>The "Critic Score" is a single score that represents the critical consensus for Games, Movies, TV Shows, Music albums, Books and Comics/Mangas.
            The CritX's editorial team curate a diverse group of highly respected YouTubers/content creators and we assign scores on five stars to their reviews.
            The weighted average of those scores results in a single number on ten : the "Critic Score".</p>
        </section>

        <section>
            <h3>- What’s a "User score ?"</h3>

            <p>The "User Score" is based on the same consensus system than the "Critic Score".
            Every registered and logged in User (yes, we mean "you") has the possiblity to set a score from one to five stars to a piece, 
            directly via the "infos page" of the related piece.
            The weighted average of all CritX’s users scores on one piece results in a single number on ten : the "User Score".</p>
        </section>

        <section>
            <h3>- What’s a "Comment of the Week ?"</h3>

            <p>At CritX, we think that well written comments can be similar to a proper critic and maybe deserve a subsequent highlight.
            That’s why every week, the CritX’s editorial team can select a relevant comment related to a content creator’s critic, and highlight it, 
            aside from other users’ comments.
            However, some informations about this feature needs to be submitted for your consideration :</p>

            <ul>
                <li>By commenting a content creator’s critic, you tacilty agree to the possibility that your comment may be selected and highlight, for one week, 
                by the CritX’s editorial team.</li>
                <li>A User Score MUST have been set on the related piece by the potentially selected user, so that his/her personnal score can be associated 
                with the comment/critic and displayed in the "Comment of the Week" section.</li>
                <li>In order to be selected, a comment should be part of a more global context of reviewing a piece, 
                rather than a simple reaction to the critic of a content creator.</li>
            </ul>
        </section>
    </div>
<div>

{% endblock %}
