{% extends 'base.html.twig' %}

{% block title %}CritX : Video Reviews of Games, Movies, Music, Books...by content creators{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>

{% endblock %}