{% extends 'base.html.twig' %}

{% block title %}CritX : Video Reviews of Games, Movies, Music, Books...by content creators{% endblock %}

{% block banner %}
    <div id="homeBanner">
        <h1><em>For every culture, there's a Youtuber</em></h1>
        <a href="">Discover</a>
    </div>
{% endblock %}

{% block body %}

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse eaque architecto eos error optio ipsam aliquid accusamus maiores, nesciunt non alias illum a exercitationem unde porro culpa aspernatur? Iure!
    Deserunt ipsum maxime, nam adipisci esse saepe eius ipsa omnis nemo debitis dolor ratione voluptatum enim deleniti in ullam ex veniam tenetur blanditiis officiis? Maxime accusamus quam recusandae praesentium mollitia?
    Accusamus iusto, unde laborum distinctio hic odio ducimus provident cum porro autem consequatur officia ex iste asperiores sint, laboriosam rem maiores perspiciatis vitae aperiam error optio nemo. Ex, voluptates voluptatem.
    Ducimus cum, dolore sint excepturi voluptates quisquam quidem in explicabo debitis, corporis ratione illo aliquid iure dolorem tempora. Dignissimos omnis eveniet tempora porro, delectus quia dolores consequatur molestias voluptatem eligendi?
    Qui mollitia praesentium id nulla possimus, minus reiciendis unde ducimus, libero atque aliquam eum, voluptatibus a impedit minima et? Porro fuga reprehenderit obcaecati ex minus excepturi vitae dolores eveniet eaque?
    Nam dignissimos ipsum eum repellat minima ipsam quisquam at quasi consequuntur fugiat commodi, non quam sint earum dicta, quidem harum nihil, expedita architecto dolorum voluptas cupiditate neque blanditiis laboriosam! Placeat.
    Reiciendis officiis, dignissimos autem dicta pariatur voluptates accusamus nemo eos quaerat laboriosam architecto odio alias id quos, dolorem distinctio laudantium suscipit minus esse praesentium hic. Eligendi minima ea vero natus.
    Ullam eum ducimus eligendi. Omnis amet non inventore culpa pariatur temporibus tempora tenetur voluptatem illum voluptate, odio suscipit fugit? Blanditiis dolores tenetur molestiae velit fugit? Hic iste quisquam perferendis ducimus?
    Accusamus earum vero corrupti nihil id vel ipsa eveniet officiis sint. Architecto ut magni ex ullam modi vero assumenda est, rerum eaque provident dolor tenetur, minus eum, ab odit quod.
    Quibusdam quas quis ipsa soluta corporis consectetur temporibus assumenda architecto blanditiis doloremque magnam dolores id autem nam similique saepe laboriosam nisi quisquam sunt, vero praesentium voluptatum! Recusandae rem excepturi esse?
    Optio debitis voluptatum repellat dicta fugiat, aliquid, ab recusandae ut facere odio obcaecati aliquam possimus sint doloribus architecto labore voluptatibus officiis non accusamus eius totam illo excepturi? Corrupti, aspernatur expedita.
    Quisquam earum corporis doloribus, rem, pariatur deleniti laboriosam perferendis magnam reprehenderit repellat sequi, dolorem incidunt ducimus? Minima sint odio cum inventore obcaecati sed necessitatibus ab voluptates dicta! Autem, expedita voluptate.
    In eaque ex eos ab saepe reiciendis harum, ratione soluta nesciunt labore assumenda. Similique, praesentium culpa vel iusto veritatis velit molestiae unde et facere excepturi deserunt nobis, laborum natus? Perferendis?
    Vitae reiciendis, autem veritatis ipsum incidunt consectetur repudiandae doloremque, dolores non alias architecto totam. Qui facilis expedita officia excepturi dolore omnis incidunt exercitationem sequi autem illo laudantium, veritatis fugit natus?
    Illum optio nam eius quibusdam vero sed ab velit. Ipsa a vero libero consectetur labore amet maiores totam aliquam, magnam quasi odio voluptatem ut, sapiente aliquid, possimus alias at mollitia.
    Repellendus ratione porro voluptatibus nostrum facere magni sapiente, incidunt accusantium neque quam cum quisquam tenetur possimus nemo deleniti eos eligendi enim odio velit! Voluptatum non culpa perspiciatis quae atque ratione?
    Qui labore, tempore, natus ipsa obcaecati aut nesciunt soluta provident dolores molestias eos, minima corrupti dolor saepe sit officiis in odit adipisci iste quia. Tenetur nulla consequuntur adipisci omnis sequi.
    Voluptatem, repellendus molestiae vero ducimus ipsam id harum similique suscipit impedit in velit et, quis minima nisi dolore amet molestias ratione, libero nemo aperiam ab! Corporis ipsa corrupti dolor accusantium!
    Eum obcaecati praesentium ut voluptatum ipsam ea amet, provident quae, saepe iste quos harum aperiam enim! Dolorem aspernatur natus eum quod quidem architecto quia debitis illo? Molestias sapiente iusto explicabo!
    Voluptate dignissimos maiores eos soluta deserunt aliquid quas pariatur, ad praesentium error, voluptas quaerat maxime cupiditate debitis excepturi at alias ullam explicabo. Nesciunt dolore maiores harum, nam eius culpa incidunt.
    Error unde excepturi modi odit ipsa ea, hic quibusdam voluptatum soluta reiciendis commodi et laboriosam possimus blanditiis molestias omnis nihil dolor doloremque eligendi facere perspiciatis dolorem illum in? Alias, commodi?
    Modi rem et eos necessitatibus illum reprehenderit quos earum, ducimus voluptatem rerum, a in! Corrupti iusto quae reprehenderit. Alias sapiente culpa explicabo sed dolore consequuntur dolor incidunt fugit ducimus esse!
    Cum, veniam quod. Officia, esse facere! Hic magnam sapiente vel mollitia impedit accusamus odit eius sit? Quae placeat rem, aliquid libero iure unde, consequuntur fugit fuga pariatur animi quas! Suscipit?
    Eveniet asperiores assumenda porro nesciunt nobis nam ratione minima excepturi dignissimos eos officiis illum incidunt natus voluptate labore est nostrum fuga eaque rem commodi itaque nisi, hic perferendis. Eius, nobis.
    Unde, qui saepe excepturi voluptates voluptatem eum! Non animi omnis nobis modi. Illo unde in nihil, impedit fuga officia veniam, eveniet accusamus voluptatem expedita similique velit facere molestiae. Illum, voluptas?</p>
</div>

{% endblock %}