{% extends 'base.html.twig' %}

{% block title %}CritX > Legal Terms{% endblock %}

{% block body %}

<div class="footInfosContainer">
    <div class="footInfos" id="legalInfos">
        <h1>Legal Terms</h1>

        <p>The French government, in a good conduct 
        <a href="https://www.economie.gouv.fr/files/files/2023/Guide_bonne_conduite_influenceurs_createurs_contenus.pdf?v=1738331205" target="_blank">guide</a> 
        for influencers and content creators, dated June 2023, sets out the essential rights and duties of the profession.</p>
        
        <p>Article 11 of the text states :</p>
        <blockquote><em>"If you create content in an original form, your content is protected by copyright rules. As such, you have moral and economic rights over your content.
        Under moral rights, you can decide on the principle, timing and conditions of disclosure of your content, as well as its continued circulation. 
        You can also demand that every time your content is used, your name is mentioned and the integrity of your content is respected.
        In terms of economic rights, you may authorise or prohibit reproductions or representations of your content.
        Consequently, any use of your content will require your authorisation. A third party will therefore not be able to re-use your publications 
        and/or videos without first obtaining rights from you."</em></blockquote>

        <p>In accordance with this text, any sharing on the CritX website pages of a content created by an influencer 
        (and initially released on a third-party platform) is part of a partnership established with the said content creator, 
        whether it be a financial partnership or a simple exchange of visibility between CritX and the content creator.</p>
    </div>
<div>

{% endblock %}