<h1>Hi ! Please confirm your email !</h1>

<p>
    Please confirm your email address by clicking the following link : <br><br>

    <a href="{{ signedUrl|raw }}">> Here</a> <br><br>

    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers ! <br>
    <strong>CritX Team</strong>
</p>
