
#criticsInfos {
    display: flex;
    max-width: 60%;
    gap: 20px;
    margin-bottom: 50px;
}

#criticsInfosImage {
    display: flex;
    flex-direction: column;

    & img {
        width: 265px;
        height: 360px;
        object-fit: cover;
        border-radius: 5px;
    }

    & button {
        background: none;
        border: none;
        width: fit-content;
        color: var(--white);
        font-size: 150%;
    }

    & #bookMark {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    & #bookMark small {
        font-size: 85%;
        font-weight: 200;
    }

    & #musicCriticsInfos {
        height: 265px;
    }
}

#criticsInfosText {
    display: flex;
    flex-direction: column;
    
    & i {
        margin-bottom: 20px;
        font-size: 90%;
        font-weight: 300;
    }

    & h1 {
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    & h2 {
        font-weight: 200;
        letter-spacing: 0.5px;
    }
}



#scoreContainer {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}

#oneCriticScore {
    display: flex;
    flex-direction: column;
    align-items: center;

    & strong {
        margin-bottom: 7.5px;
        font-size: 125%;
        font-weight: 500;
    }
}

#oneCriticScoreToken {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    color: black;
    font-size: 125%;
    font-weight: 800;
    border-radius: 50%;

    & hr {
        border: none;
        width: 25%;
        height: 2px;
        background: black;
    }
}

#oneCriticScoreToken.goodScore {
    background: var(--green);
}

#oneCriticScoreToken.averageScore {
    background: var(--lightOrange);
}

#oneCriticScoreToken.badScore {
    background: var(--red);
}

#oneCriticScoreToken.noScore {
    background: var(--lightGrey);
}



#criticsInfosTextPara {
    margin-top: 25px;
    line-height: 1.4;
    font-weight: 200;
    overflow: hidden;
}

#criticsInfosTextPara strong {
    font-weight: 500;
}

#criticsInfosTextPara p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
}

#moreInfosLink {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    transition: all 0.1s;
}

#moreInfosLink .fa-plus {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 175%;
}

#moreInfosLink:hover {
    background: var(--orange);
    color: black;
}



#criticsContainer h3 {
    margin-bottom: 7.5px;
    font-size: 150%;
    font-weight: 500;
}

#criticsContainer hr {
    width: 60%;
    margin-bottom: 25px;
    color: var(--white);
}



#oneCriticContainer {
    display: flex;
}

#criticVideo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    & .youtube_player {
        width: 100%;
    }

    & .youtube_player iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

#likeDislikeButtons {
    margin-top: 25px;
}

/* > Like/Dislike buttons */
.likeBtn, .dislikeBtn {
    width: 75px;
    height: 40px;
    font-size: 150%;
    font-weight: 900;
    border: none;
}

.likeBtn {
    border-right: solid 1px black;
    border-radius: 25px 0 0 25px;
}

.dislikeBtn {
    border-left: solid 1px black;
    border-radius: 0 25px 25px 0;
}


/* > Like/Dislike bars */
.likdisBarContainer {
    margin-top: 15px;
    margin-bottom: 35px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
}

.likdisBarContainer small {
    position: absolute;
    font-size: 100%;
    font-weight: 200;
}

.likdisBarContainer small:first-child {
    top: -7.5px;
    left: -57.5px;
}

.likdisBarContainer small:nth-of-type(2) {
    top: 12.5px;
    font-size: 100%;
    font-weight: 300;
}

.likdisBarContainer small:last-of-type {
    top: -7.5px;
    right: -80px;
}

.dislikeBar {
    width: 100%;
    height: 4px;
    background: var(--red);
}

.likeBar {
    height: 4px;
    background: var(--deepGreen);
}

.emptyBar {
    width: 100%;
    height: 4px;
    background: var(--white);
}



/* #criticVideoInfos {
    width: 40%;
} */






