#homeBanner {
    margin: auto;
    width: 66vw;
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid var(--white);
    background-size: cover;
    background-position: center;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 50%),
        /* Fondu depuis la gauche */
    linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%),
        /* Fondu depuis la droite */
    linear-gradient(to left, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 50%),
    url('/CritX-Banner.jpg');
}

#homeBanner h1 {
    text-align: center;
    position: absolute;
    top: 62.5%;
    color: var(--white);
    text-shadow: 5px 5px 2.5px black;
    font-size: 275%;
    letter-spacing: 1px;
}

#homeBanner a {
    padding: 10px 20px;
    font-size: 133%;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.1s;
    color: var(--white);
    background: var(--orange);
    position: absolute;
    top: 77%;
}

#homeBanner a:hover {
    background: #ae3408;
}

#homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

#homeContainer h2 {
    font-size: 175%;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#homeContainer a:has(.fa-circle-up) {
    margin-top: 45px;
    font-size: 200%;
    color: var(--white);
    transition: all 0.1s;
}

#homeContainer a:has(.fa-circle-up):hover {
    cursor: pointer;
    color: rgb(175, 175, 175);
}

#pieceListContainerHome {
    width: 100%;
    margin-bottom: 45px;
}

#pieceListHome {
    margin: 33px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}

#onePieceListHome, #oneInfluencerListHome {
    max-width: 265px;
    text-align: center;

    & h3 {
        font-size: 133%;
        margin-top: 10px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    & h3 a {
        text-decoration: none;
        color: var(--white);
    }

    & i {
        font-size: 90%;
        font-weight: 300;
    }

    & img {
        width: 265px;
        height: 360px;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.2s ease-out;
        will-change: transform;
    }

    & img:hover {
        transform: scale(1.02);
    }

    & #musicPieceListHome {
        height: 265px;
    }
}

#onePieceListScoreContainerHome {
    display: flex;
    margin-top: 22.5px;
    justify-content: space-evenly;
}

#onePieceListScoreHome {
    display: flex;
    flex-direction: column;
    align-items: center;

    & strong {
        margin-bottom: 7.5px;
        font-weight: 500;
    }
}

#onePieceListScoreTokenHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    color: black;
    font-size: 125%;
    font-weight: 800;
    border-radius: 50%;

    & hr {
        border: none;
        width: 25%;
        height: 2px;
        background: black;
    }
}

#onePieceListScoreTokenHome.goodScore {
    background: var(--green);
}

#onePieceListScoreTokenHome.averageScore {
    background: var(--lightOrange);
}

#onePieceListScoreTokenHome.badScore {
    background: var(--red);
}

#onePieceListScoreTokenHome.noScore {
    background: var(--lightGrey);
}

#homeContainer section:nth-of-type(2) h1 {
    text-align: center;
    font-size: 200%;
    margin-top: 45px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 2.5px black;
}



#influListContainerHome hr {
    width: 20%;
}

#influencerListHome {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#oneInfluencerListHome {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;

    & h4 {
        font-size: 95%;
        font-weight: 300;
    }
}

#vipCommentListContainerHome {
    width: 100%;

    & h2 {
        margin-top: 20px;
    }
    
}

#vipCommentListHome {
    margin-top: 33px;
    display: flex;
    justify-content: space-evenly;

    & p {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        line-clamp: 9;
        word-break: break-word;
    }
}

#vipCommentListSubContainerHome {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        margin-top: 15px;
        font-size: 133%;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#vipCommentListSubContainerHome h3 a {
    color: var(--white);
}

#vipCommentListSubContainerHome > i {
    margin-top: 2.5px;
    font-size: 90%;
    font-weight: 300;
}

#vipCommentListHome .commentDisplay {
    width: 487px;
    height: 348.5px;
    display: flex;
    flex-direction: column;
}

#vipCommentTitleHome {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    gap: 10px;
    font-size: 125%;
}

#vipCommentContentHome {
    display: flex;
}

#vipCommentContentHome .mainComment {
    width: 75%;
}

#vipCommentUserScoreHome {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    & h4 {
        font-size: 120%;
        font-weight: 300;
    }
}

#vipCommentUserScoreHome .fa-star{
    font-size: 133%;
}





@media screen and (min-width: 2000px) {
    
    #influencerListHome {
        justify-content: center;
        gap: 66px;
    }
}

