* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0d1d45;
    color: #F2F2F2;
}

a {
    color: #ff4500;
}

a, button {
    cursor: pointer;
}



/* > Add Piece > Images collection forms add */
.addFormImages li {
    margin-bottom: 20px;
}

/* > Add Piece > Images collection forms display */
.displayFormImagesLabel {
    font-size: 150%;
    font-weight: 700;
}

#piece_form_images {
    margin-top: 10px;
    margin-bottom: 30px;
}

#piece_form_images > div {
    margin-top: 20px;
}



/* > Add Piece > Videos collection forms add */
.addFormVideos li {
    margin-bottom: 20px;
}

/* > Add Piece > Videos collection forms display */
.displayFormVideosLabel {
    font-size: 150%;
    font-weight: 700;
}

#piece_form_videos {
    margin-top: 10px;
}

#piece_form_videos > div {
    margin-top: 20px;
}



/* > Add Influencer > Socials collection forms add */
.addFormSocials li {
    margin-bottom: 20px;
}

/* > Add Influencer > Socials collection forms display */
.displayFormSocialsLabel {
    font-size: 150%;
    font-weight: 700;
}

#influencer_form_socials {
    margin-top: 10px;
}

#influencer_form_socials > div {
    margin-top: 20px;
}



/* Delete modal */
.openModal {
    width: 33%;
    margin: auto;
    padding: 25px;
    border: none;
    background: white;
    text-align: center;
    border-radius: 10px;
    user-select: none;
}

.openModal h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.openModal a {
    margin: 0 15px;
}

/* .openModal:focus {
    outline: none;
} */

.openModal::backdrop {
    background: rgb(0, 0, 0, 0.80);
}



/* Star scores */
.fullstars {
    color: #fe8d01;
    font-size: 120%;
}

.emptystars {
    opacity: 0.33;
    font-size: 120%;
}

.user-score {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.user-score input {
    display: none;
}

.user-score-title {
    font-size: 175%;
}

.user-score label {
    cursor: pointer;
    font-size: 250%;
}

.user-score input:checked + label, 
.user-score input:checked + label ~ label {
    color: #fe8d01;
    opacity: 1;
}

.user-score label:hover,
.user-score label:hover ~ label {
    color: #fe8c01;
    opacity: 1;
}