
#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



header {
    height: 64px;
    display: flex;
    justify-content: center;
    background: var(--black);
}

nav {
    width: 66vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#homeLink {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

    & h1 {
        font-size: 300%;
        letter-spacing: 1px;
        color: var(--white);
    }

    & img {
        height: 75%;
        margin-top: 2.5px;
        margin-left: -10px;
    }
}

#menuContainer {
    flex-grow: 1;
    height: 100%;
    margin: 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#burgerBtn {
    display: none;
}

#menu {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;

    & a {
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        font-weight: 600;
        color: var(--white);
        transition: all 0.1s;
        text-align: center;
    }

    & a:hover {
        background: var(--white);
        color: var(--black);
    }
}

#menu hr {
    height: 75%;
}

#logs {
    max-width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;

    #dashLink {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        flex-shrink: 0;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logsBtn {
    width: 82px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    transition: all 0.1s;
    
    &:first-of-type {
        color: var(--black);
        background: var(--white);
    }

    &:first-of-type:hover {
        background: rgb(201, 201, 201);
    }

    &:last-of-type {
        color: var(--white);
        background: var(--orange);
    }
    
    &:last-of-type:hover {
        background: #ae3408;
    }
}

#nickName {
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header + hr {
    color: var(--white);
}


  
main {
    width: 66vw;
    margin: 45px 0;
    align-self: center;
    flex-grow: 1;
}



#footContainer {
    display: flex;
    justify-content: center;
}

footer {
    width: 50vw;
    height: 128px;
    display: flex;
    justify-content: space-evenly;
    background: var(--grey);

    & h2 {
        font-size: 100%;
        font-weight: 600;
    }

    & section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
}

#overview {
    justify-content: space-between;

    & a {
        font-size: 80%;
        font-weight: 300;
        color: var(--white);
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

#socials {
    justify-content: space-between;

    & a {
        color: var(--white);
        text-decoration: none;
    }

    & a:last-of-type:hover {
        text-decoration: underline;
    }

    & i {
        padding: 0 5px;
        margin-bottom: 20px;
        font-size: 150%;
        opacity: 0.5;
    }
    
    & i:hover {
        opacity: 1;
    }

    & small {
        font-weight: 300;
    }
}

#contact a {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 80%;
    font-weight: 300;
    text-decoration: none;
    color: var(--white);
    background: transparent;
    border: solid 2px var(--black);
    transition: all 0.1s;
}

#contact a:hover {
    background: var(--black);
    color: white;
}



.footInfosContainer {
    display: flex;
    justify-content: center;
}

.footInfos {
    width: 33vw;
}

.footInfos h1, .footInfos h2 {
    text-align: center;
}

.footInfos p, .footInfos li, .footInfos blockquote {
    line-height: 1.4;
    text-align: justify;
}

#aboutInfos h2 {
    margin-bottom: 33px;
    font-size: 125%;
    font-weight: 400;
}

#aboutInfos h3 {
    margin-bottom: 15px;
}

#aboutInfos section:not(#aboutInfos section:last-of-type) {
    margin-bottom: 55px;
}

#aboutInfos ul {
    margin-top: 10px;
}

#aboutInfos li {
    margin-top: 10px;
    margin-left: 33px;
}

#legalInfos h1, #privacyInfos h1 {
    margin-bottom: 33px;
}

#legalInfos p {
    margin: 30px 0;
}

#legalInfos p:nth-of-type(2) {
    margin-bottom: 10px;
}

#legalInfos p:last-of-type {
    margin-bottom: 0;
}

#legalInfos a, #privacyInfos a {
    text-decoration: none;
    color: rgb(255, 72, 0);
}

#legalInfos a:hover, #privacyInfos a:hover {
    text-decoration: underline;
}



.logsFormContainer {
    display: flex;
    justify-content: center;
}

.logsForm {
    max-width: 378px;

    & a {
        text-decoration: none;
        color: var(--orange);
    }

    & h1 {
        margin-bottom: 25px;
        text-align: center;
    }

    & label {
        font-size: 90%;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    & input {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 100%;
    }
    
    & button {
        width: 100%;
        padding: 7.5px 0;
        font-weight: 700;
    }
}

.logsForm a:hover {
    text-decoration: underline;
}

#loginForm a {
    color: var(--white);
    font-size: 80%;
    font-weight: 500;
}

#registerForm .logsFormGroup:nth-of-type(2) {
    margin-bottom: 30px;
}

#registerForm .logsFormGroup:nth-of-type(4) {
    margin-bottom: 30px;
}

#registerForm strong {
    font-weight: 500;
}

#registerForm strong, #registerForm small {
    display: inline-block;
    line-height: 1.4;
}

#registerForm small {
    margin-bottom: 15px;
}

.checkBoxes, .mb-3 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkBoxes input, .mb-3 input {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.checkBoxes input:hover, .mb-3 input:hover {
    cursor: pointer;
}

.checkBoxes label, .mb-3 label {
    margin-bottom: 0;
}

.mb-3 input {
    margin-right: 5px;
}

#resetRequestForm input {
    margin-bottom: 0;
}

#resetRequestForm button, #resetForm button  {
    margin-top: 15px;
}

#editUserForm.logsForm {
    max-width: 100%;
}

#editUserForm.logsForm textarea {
    width: 100%;
    height: 115px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "Inter";
    resize: none;
}

#editUserForm.logsForm input:nth-of-type(2) {
    padding: 0;
    cursor: pointer;
}

#editUserForm.logsForm button {
    margin-top: 15px;
}

.alert {
    position: fixed;
    width: 66vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 110%;
    font-weight: 600;
    border-radius: 0 0 15px 15px;
    transition: all 0.5s;
    z-index: 999;
}

.alert.fade-out {
    opacity: 0;
}

.alert-success {
    background: var(--deepGreen);
}

.alert-danger {
    background: var(--red);
}





@media screen and (max-width: 1550px) {
    
    nav {
        width: 75vw;
    }

    main {
        width: 75vw;
    }

    .alert {
        width: 75vw;
    }
}

@media screen and (max-width: 1380px) {
    
    nav {
        width: 85vw;;
    }

    main {
        width: 85vw;
    }

    .alert {
        width: 85vw;
    }
}

@media screen and (max-width: 1250px) {
    
    nav {
        width: 90vw;;
    }

    main {
        width: 90vw;
    }

    .alert {
        width: 90vw;
    }
}

@media screen and (max-width: 1200px) {
    
    .footInfos {
        width: 50vw;
    }
}

@media screen and (max-width: 1125px) and (min-width: 1080px) {
    
    #menuContainer {
        margin: 0 15px;
    }
}

@media (max-width: 1080px) {

    #menu {
        /* display: none; */
        margin: 0;
        padding: 10px;
        width: 210px;
        height: fit-content;
        flex-direction: column;
        position: absolute;
        top: 66px;
        background: var(--black);
        z-index: 998;
        left: 50%;
        transform: translateX(-50%)
    }

    #menu hr {
        height: 0;
        width: 75%;
        margin: 7.5px 0;
    }

    #burgerBtn {
        display: block;
        height: fit-content;
        border: none;
        background: none;
        font-size: 225%;
        color: var(--white);
    }
}

@media screen and (max-width: 960px) {
    
    footer {
        width: 66vw;
    }
}

@media screen and (max-width: 820px) {
    
    .footInfos {
        width: 66vw;
    }
}

@media screen and (max-width: 790px) {
    
    footer {
        width: 75vw;
    }
}

@media screen and (max-width: 690px) {
    
    footer {
        width: 90vw;
    }
}

@media screen and (max-width: 640px) {
    
    .alert {
        font-size: 100%;
    }
}

@media screen and (max-width: 580px) {
    
    .footInfos {
        width: 85vw;
    }

    #nickName {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    
    .alert {
        font-size: 75%;
    }

    footer {
        width: 66vw;
        height: auto;
        flex-direction: column;

       & section:nth-of-type(1) h2 {
            margin-bottom: 10px;
       }

       & section:nth-of-type(1) a:not(section:nth-of-type(1) a:last-of-type) {
        margin-bottom: 10px;
   }

       & section:nth-of-type(2) h2 {
        margin-bottom: 10px;
   }
    }
}

@media screen and (max-width: 475px) {
    
    .alert {
        font-size: 65%;
    }

    #homeLink h1 {
        display: none;
    }

    #homeLink img {
        margin-left: 5px;
    }

    #menu {
        width: 175px;
    }
}



