
#flashMessages {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
}



header {
    height: 64px;
    display: flex;
    justify-content: center;
    background: var(--black);
}

nav {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homeLink {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#homeLink h1 {
    font-size: 300%;
    letter-spacing: 1px;
    color: var(--white);
}

#homeLink img {
    height: 75%;
    margin-top: 2.5px;
    margin-left: -10px;
}

#menu {
    height: 100%;
    display: flex;
    margin: 0 35px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}

#menu a {
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    color: var(--white);
    transition: all 0.1s;
}

#menu a:hover {
    background: var(--white);
    color: var(--black);
}

#menu hr {
    height: 75%;
}

#logs {
    max-width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#logs img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.logsBtn {
    width: 82px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    transition: all 0.1s;
}

.logsBtn:first-of-type {
    color: var(--black);
    background: var(--white);
}

.logsBtn:first-of-type:hover {
    background: rgb(201, 201, 201);
}

.logsBtn:last-of-type {
    color: var(--white);
    background: var(--orange);
}

.logsBtn:last-of-type:hover {
    background: rgb(210, 65, 11);
}

#nickName {
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header + hr {
    color: var(--white);
}